Package: com.vncheat.premium
Name: Vncheat
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Vncheat Premium Mod Menu - Red & Black Edition
Maintainer: Vncheat Team
Author: Vncheat
Section: Tweaks

